.container{
  height: 500px !important;
 
  
}

/* #poweruppanel {
  background: rgb(126, 128, 127);
  width:250px;
  margin-left: 50px;
  height: 100px;
} */

#powername {
  margin-top:10px;
  font-family: monospace;
  font-size: 25px;
  color: red;
}

#score{
  color: rgb(153, 155, 20)
}
#game{
  height: 600px !important;

}
#powerimage {
  margin-left: 10px;
  border-radius: 5px;
  border: 5px;
  border-color: red;
}
#panel{
  margin-top:-80px;
  
  height:100px;
  background-color: rgb(24, 84, 102);
}
#menubar{
  background-color: #000000;
  margin-left: -200px;
}

#error{
  color: #ff0000;
}
#success{
  color: #00ff00;
}
#modalMenu{
  background-color: #000000;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
